<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!--Styles-->
    <style src="/static/styles.css"></style>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form with File Upload, Dropdown, and Date</title>
    
</head>
<body>
    <div class="container">
        <!--Upload real data to model-->
        <form action="/train" method="POST" enctype="multipart/form-data">
            <label for="fileInput">Choose a file:</label>
            <input type="file" id="fileInput" name="file">
            <button type="submit">Upload</button>
        </form>
        <form action="/estimate" method="POST">
            
            <h3>Role</h3>
            <label for="role1">Survivor<label>
            <input type="radio" id="role1" name="role" value="Survivor" required>
            <label for="role2">Killer</label>
            <input type="radio" id="role2" name="role" value="Killer" required>

            <label for="party_size">Party Size:</label>
            <input type="number" id="party_size" name="party_size" min="1" max="4">

            <label for="rank">Rank:</label>
            <input type="number" id="rank" name="rank" min="1" max="20">
            
            <label for="server">Server:</label>
            <select id="server" name="server">
                <option value="ap-southeast-1">ap-southeast-1</option>
                <option value="us-west-2">us-west-2</option>
                <option value="eu-centeral-1">eu-centeral-1</option>
                <option value="us-east-1">us-east-1</option>
            </select>

            <label for="platform">Platform:</label>
            <select id="platform" name="platform">
                <option value="steam">steam</option>
                <option value="egs">egs</option>
                <option value="xsx">xsx</option>
                <option value="ps5">ps5</option>
            </select>

            <label for="day">Date:</label>
            <select id="day" name="day">
                <option value="Sun">Sunday</option>
                <option value="Mon">Monday</option>
                <option value="Tue">Tuesday</option>
                <option value="Wed">Wednesday</option>
                <option value="Thu">Thursday</option>
                <option value="Fri">Friday</option>
                <option value="Sat">Saturday</option>
            </select>

            <label for="time">Time:</label>
            <input type="time" id="time" name="time" min="00:00" max="23:59">

            <button type="submit">Submit</button>
        </form>
    </div>

    <h1>{{ estimated_wait }}</h1>
    <h2>{{ average_wait }}</h2>
    
    <h2>{{ message }}</h2>


    <script>
        function validateAndSubmit() {
            $('#estimate_form').onclick(submit())
            
            // 
            // // Fetch values from the form
            // var role = document.getElementById('role').value;
            // var server = document.getElementById('server').value;
            // var platform = document.getElementById('platform').value;
            // var date = document.getElementById('date').value;

            // // Check for blank fields
            // if (role === '' || server === '' || date === '') {
            //     document.getElementById('warningMessage').textContent = 'Please fill in all fields.';
            // } else {
            //     // Reset warning message
            //     document.getElementById('warningMessage').textContent = '';

            //     // Log values to the console or perform other actions
            //     console.log('Role:', role);
            //     console.log('Server:', server);
            //     console.log('Platform:', platform);
            //     console.log('Date:', date);

            // }
        }
    </script>

</body>
</html>

